<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mathieu.com.outerspacemanager.outerspacemanager">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.SignUpActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.BuildingActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.RechercheActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.ConnectActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.GalaxieActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.GeneraleActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.FlotteActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="mathieu.com.outerspacemanager.outerspacemanager.ChantierSpatialActivity"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>
